# Caddyfile Example

# If you want your host to understand app.locadev adress:
#   /etc/hosts:
#   127.0.0.1 app.localdev
app.localdev:80 {
  reverse_proxy web-project-nginx-1:80
}

# Personal website using HTTPS
app.localdev:443 {
  tls internal
  reverse_proxy web-project-nginx-1:80
}
